.lesson-jumbo {
  border-style: solid;
  border-bottom-width: 0.05rem;
  border-color: #B8C2CC;
  padding-bottom: 3rem;
}

.lesson-jumbo__published p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #B8C2CC;
}

.lesson-jumbo__title {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 500;
  padding-right: 1rem;
}

.lesson-jumbo__title-course {
  color: #8795A1;
}

.lesson-jumbo__title-title {
  color: #3D4852;
}

.lesson-jumbo__episode {
  font-size: 1rem;
  font-weight: 450;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.lesson-jumbo__episode-number {
  color: #3D4852;
}

.lesson-jumbo__episode-runtime {
  color: #DE751F;
}

.lesson-jumbo__description {
  font-size: 1.2rem;
  color: #8795A1;
  padding: 2rem 0.5rem 0.5rem;
}

.lesson-jumbo__next-button {
  display: flex;
  justify-content: flex-end;
}

.lesson-jumbo__next-button p {
  padding: 0.4rem 1rem;
  margin-right: 2rem;
  border-style: solid;
  border-width: 0.03rem;
  border-color: #B8C2CC;
  color: #3D4852;
  cursor: pointer;
}

.lesson-jumbo__next-button p:hover {
  border-color: #8795A1; 
}

.lesson-jumbo__next-button p span {
  color: #DE751F;
  font-weight: 500;
}